Library/
UnityPackageManager/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Temp
ProjectSettings/ProjectVersion.txt
.vs/
obj/
Packages/
Test/
Test.meta
Log/
Log.meta
Assets/StreamingAssets/
Assets/StreamingAssets.meta
!*.dll
Build/
*.apk
*.zip
*.csproj
PXN.sln